@model WorkForceGovProject.Models.ProgramManagerDashboardViewModel

<h2>Program Manager Dashboard</h2>

<p>Total Programs: @Model.TotalPrograms</p>
<p>Total Budget: @Model.TotalBudget</p>
<p>Active Trainings: @Model.ActiveTrainingPrograms</p
